services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: Ji
      POSTGRES_PASSWORD: Ji998
      POSTGRES_DB: verkefni2
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
