/* todo stílar, notið úr v8 í vef1-2025! */
* { box-sizing: border-box; }

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  line-height: 1.4;
  background: #97b1e2;
}

main {
  max-width: 800px;
  margin: 24px auto;
  padding:16px;
  background: rgb(146, 221, 146);
 border-radius: 8px;
}

h1{margin: 0 0 50px 0;}
